@import url('../fonts/fonts.css');
@import url('../css/normalize.css');

* {
    box-sizing: border-box;
}

html body {
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF !important;
    font-size: 14px;

    .wrapper {
        padding: 0 10px;
        max-width: 1100px;
        margin: 0 auto;
    }
}
button{
    // color: #fff !important;
    color: #fff;
}

a {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer;
}

li {
    list-style-type: none
}

.title-use {
    padding-top: 90px;
    font-size: 36px;
    font-family: 'Playfair Display',serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.line-use {
    margin: 50px 0;
    width: 120px;
    height: 1px;
    background-color: #fff;
}
.ButtonUse:hover {
        color: #969696;
        border-color: #969696;
}
.row{
    margin: 0 !important;
}
// cartBox
.cartBox {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display',serif;

    &__item {

        padding: 0 25px;
    }

    &__item-photoBg {
        padding: 55px 10%;
        background-color: #191B1C;
    }

    &__item-photo {
        display: flex;
        text-align: center;
        justify-content: center;

        img{
            width: 100%;
        }
    }

    &__item-name {
        padding-top: 25px;
    }

    &__item-price {
        margin-bottom: 20%;
    }
}
.sliderTopShow, .sliderBottomShow{
    display: none;
}

//headerTop
.header {

    .headerTop {
        background-color: #000000;

        &__wrapper {
            min-height: 30px;
            padding: 0 10px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1100px;
            font-size: 12px;
            line-height: 15, 53;
            color: #969696;
        }

        p {
            margin: 0;
        }

        &__left {
            display: flex;
        }

        &__left-icon {
            width: 13px;
            height: 13px;
            background-image: url(../images/src/Vector.png);

            a {
                width: 13px;
                height: 13px;
            }
        }

        &__left-number {
            padding: 0 15px;

            a {
                color: #969696;
            }
        }

        &__left-days {
            align-self: center;
            padding: 0 15px;
            border-left: 1px solid #969696;
            border-right: 1px solid #969696;
        }

        &__left-time {
            padding: 0 0 0 15px;
        }

        &__right {
            display: flex;
        }

        &__right-icon {
            width: 14px;
            height: 14px;
            background-image: url(../images/src/ic_sharp-log-in.png);
        }

        &__right-box {
            display: flex;

            p {
                padding: 0 5px;
            }
        }

        &__right-enter {
            padding-left: 15px;
        }

        &__right-registration {}
    }

    // }
}

// font-family: 'Post No Bills Jaffna Bold',sans-serif;
// headerBottom
.header {

    .headerBottom {
        background-color: #0F0F0F;

        &__wrapper {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1100px;
            padding: 0 10px;
            min-height: 80px;
        }

        &__left {}

        &__left-logo {
            font-size: 36px;
            font-family: 'Post No Bills Jaffna Bold', sans-serif;
            line-height: 1;
        }

        &__right {
            display: flex;
            align-items: center;
        }

        &__right-menu {
            display: flex;
            margin: 0;
        }

        &__right-menuItem {
            padding: 30px 22px;
            font-size: 14px;
            color: gray;
        }

        &__right-menuItem:hover {
            background-color: #1F1F1F;
            color: #fff;
            cursor: default;
        }

        &__right-shopSearch {
            display: flex;
        }

        .shopItem {
            cursor: pointer;
            width: 20px;
            height: 20px;
            background-image: url("../images/src/shop.svg");
            // margin-right: 10px;
        }

        .searchItem {
            cursor: pointer;
            width: 16px;
            height: 16px;
            background-image: url("../images/src/search.png");
        }
        .bottom-header__burger-box{
            display: none;
        }
        .headerBottom-closePopup{
            float: right;
            margin: 20px;
            display: none;
        }
    }
}
.headerPopup-show{
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    overflow: auto;
    top: 0px;
    left: 0;
    display: block;
    animation: showBlock .4s linear forwards;
}
.headerPopup-showUl{
    padding-top: 65px;
    display: block !important;
}

  @keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .headerPopup-icon{
      display: block !important;
      padding-left: 60px !important;
  }
  .headerBottom__right-menuItem:nth-child(4) {
      padding: 0;
      margin: 30px 22px;
  }
  .headerBottom__right-menuItem:nth-child(5) {
      padding: 0;
      margin: 30px 22px;
  }
// main
// preview
.main {}

.preview {
    background-image: url('../images/src/previewImg.jpg');
    min-height: calc(100vh - 110px);
    // min-height: 100vh;
    background-size: cover;
    background-position: top;
    padding-top: 160px;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__whiteBox {
        border: 4px solid #fff;
        padding: 100px 60px;
        width: 320px;
        text-align: center;
        font-family: 'Post No Bills Jaffna Bold', sans-serif;
    }

    &__whiteBox-logo {
        font-size: 64px;
        border-bottom: 2px solid #fff;
        margin-bottom: 6px;
        line-height: 1;
    }

    &__whiteBox-city {
        font-size: 19px;
        text-transform: uppercase;
    }

    &__bottom-text {
        max-width: 730px;
        padding-top: 80px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }
}

// goodes
//seasonTw
.goods {

    // display: grid;
    // grid-template-columns: repeat(24, 1fr);
    .goods__wrapper {
        display: flex;
    }
}

.seasonTw {
    background-color: #000;
    width: 55%;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    flex-direction: column;

}

// newCollection
.newCollection {
    width: 45%;
    padding: 0px !important;

    &__bg {
        background: url(../images/src/newCollection.jpg) no-repeat;
        background-size: cover;
        background-position: right 81% bottom 78%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        padding: 484px 0 20px 0;
        font-family: 'Playfair Display', serif;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }

    &__line {
        width: 120px;
        height: 1px;
        background-color: #fff;
    }

    &__button {
        margin: 70px 0 100px;
        background: none;
        font-family: 'PT Sans', sans-serif;
        padding: 12px 28px;
        border: 1px solid #fff;
        letter-spacing: 2px;
    }
}

// costumePhoto
.goods {

    &__wrapper {}
}

.goods-costumePhoto {
    // width: 100%;
    // height: 500px;
    background-image: url(../images/src/costume.jpg);
    background-size: cover;
    background-position: right 48% bottom 70%;
}

// Collection

.collection {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    font-family: 'Playfair Display', serif;

    .title-use{
        font-weight: 400;
    }

    &__text {
        max-width: 471px;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
    }

    &__button {
        border: 1px solid white;
        outline: none;
        background: none;
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        margin: 65px 0 85px;
        max-width: 311px;
        height: 47px;
        letter-spacing: 1px;
    }
}

// newGoods
.newGoods {
    background-color: #000;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__boxCarts {}

        .cartBox {
            display: flex;
            flex-wrap: wrap;

            &__item {
                padding: 0 10px;
            }

            &__item-photoBg {}

            &__item-photo {}

            &__item-name {}

            &__item-price {}
        }
    }
}
.wrapper__cartBox{
    display: flex;
}
// brands
.brands {
    background-color: #0F0F0F;
    

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .brands-wrapper{
            display: flex;
        }
    }

    .line-use {
    }

    &__item-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // width: 100%;
    }

    &__item {
        padding-bottom: 80px;
        // width: 100%;

        img{
            width: 100%;
        }
    }
}
// footer
.footer {
    background-image: url(../images/src/footer.jpg);
    background-size: cover;
    background-position: center top;
    font-weight: 400;
    padding-bottom: 80px;

    &__title {
        padding: 80px 0 40px;
        font-family: 'Playfair Display', serif;
        font-size: 24px;
    }
}
.wrapper {
    display: flex;

    .row{
        margin: 0 auto;
    }
}
.footerShop {

    &__text {
        max-width: 350px;
        font-family: 'PT Sans', sans-serif;
    }
}
.footerRank {

    &__box-buttons {
    }

    &__button-item {
        border: none;
        background-color: #0F0F0F;
        font-family: 'PT Sans', sans-serif;
        outline: none;
        margin: 10px;
        padding: 20px;
    }
}
.footerMailing {
    font-family: 'PT Sans', sans-serif;

    &__text {

    }

    &__formBox {
        display: flex;
    }

    &__input {
        width: 190px;
        height: 42px;
        outline: none;
        background: rgba(255, 255, 255, 0.4);
        border: none;
        padding: 10px 20px;
        color: white;
        font-size: 20px;
        margin-top: 40px;
    }

    &__button {
        outline: none;
        padding: 13px 20px;
        border: 0;
        margin: 40px 0 0 -4px;
        width: 120px;
        height: 42px;
        background-color: #0f0f0f;
        color: #fff;
    }
}








.carousel-inner{
    // display: flex;
    // justify-content: center;
}
.cartBox__item{
    left: 16%;
    width: 70% !important;
}

@media screen and (max-width: 576px) {
    .sliderTopClose, .sliderBottomClose, .headerTop__left-days, .headerTop__left-time{
        display: none;
    }

    .sliderTopShow, .sliderBottomShow{
        display: block;
    }
    .cartBox__item-photo {

        img{
            // width: auto;
        }
    }
    .preview__whiteBox{
        padding: 60px 30px;
        width: 250px;
        text-align: center;
    }
    .cartBox__item-price, .cartBox__item-name{
        font-size: 25px;
    }
    .footer .wrapper .footerRank .footerRank__box-buttons{
        max-width: 100%;
    }
    .footer .footerShop .footerShop__text {
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .cartBox {

        &__item {
            padding: 0 4px !important;
        }
    }
    .title-use{
        font-size: 26px;
    }
    .footer .footerRank .footerRank__box-buttons{
        max-width: 70%;
    }
}
@media screen and (max-width: 992px) {
    .goods-costumePhoto {
        height: 500px;
    }
    .footerShop__text{
        // max-width: 350px !important;
        width: auto;
    }
}



@media screen and (max-width: 991px) {
    .footerShop{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .footerShop__text{
            max-width: 70%;
        }
    }
    .footerRank{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .footerRank__box-buttons{
            max-width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .footerMailing{
        text-align: center;
        

        .footerMailing__formBox{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
